.heading{
    display: flex;
    background-color: green;
    border-radius: 5px;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    width: 120px;
    padding: 10px;
}

.title{
    text-align: center;
}
.title p{
    margin-top: 35px;
    margin-bottom: 0px;
    color: honeydew;
}
.title h1{
    margin: 0px;
    font-size: 40px;
    color: white;
}

body{
    background-color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    
}
body p{
    padding: 3px;
}

.full-body{
    width: 763px;
    margin: auto;
    border: 2px solid grey;
}
.navbar{
    width: 100%;
    background-color: rgba(0, 128, 0, 0.658);
}
.navbar a{
    padding: 3px;
    color: honeydew;
    border: 3px solid white;
    float: left;
    background-color:rgba(0, 128, 0, 0.459);
    text-decoration: none;
}
table{
    width: 100%;
    text-align: left;
}

.adress{
    display: flex;
}
.adress-details{
    border:2px solid white;
    width: 50%;
    margin: 5px;
    color: black;
}
.adress-details p{
    padding: 10px;
    background-color: green;
    margin: 0%;
    color: white;
    
}

.academic{
    display: flex;
    
}

.academic-details{
    border:2px solid white;
    width: 50%;
    margin: 5px;
    color: black;

}

.academic-details p{
    padding: 10px;
    background-color: green;
    margin: 0%;
    color: white;   
}

.graduation{
    display: flex;
}
.graduation-details{
    border:2px solid white;
    width: 50%;
    margin: 5px;
    color: black;

}

.graduation-details p{
    padding: 10px;
    background-color: green;
    margin: 0%;  
    color: white; 
}

.next-button{
    border: 2px solid white;
    text-decoration: none;
    background-color: wheat;
    color: black;
    margin-left: 50%;
}