.heading{
    display: flex;
    background-color: green;
    border-radius: 5px;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    width: 120px;
    padding: 10px;
}

.title{
    text-align: center;
}
.title p{
    margin-top: 35px;
    margin-bottom: 0px;
    color: honeydew;
}
.title h1{
    margin: 0px;
    font-size: 40px;
    color: white;
}

body{
    background-color: rgba(128, 128, 128, 0.658);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.full-body{
    width: 763px;
    margin: auto;
}
.navbar{
    width: 100%;
    background-color: rgba(0, 128, 0, 0.658);
}
.navbar a{
    padding: 3px;
    color: honeydew;
    border: 3px solid white;
    float: left;
    background-color:rgba(0, 128, 0, 0.459);
    text-decoration: none;
}
table{
    width: 100%;
    text-align: left;
}